.unstilled {
  padding-left: 0;
  list-style: none;
}

.horizontal {
  display: block;
}

.horizontal li {
  display: inline-block;
}

/*
 * List align property classes.
 */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
