{
  "plugins": [
    "prettier",
    "react",
    "flowtype"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "__isBrowser__": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "no-debugger": 0,
    "no-alert": 0,
    "no-console": [
      "error",
      {
        "allow": [
          "error",
          "info"
        ]
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80
      }
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "react": {
      "version": "^16.0.0",
      "flowVersion": "^0.81.0"
    }
  }
}
