@import '../../../assets/scss/config';

/*
 * Align property classes.
 */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/*
 * Weight property classes.
 */
@each $className, $value in $fontWeightMap {
  .#{$className} {
    font-weight: $value;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}

/*
 * Level property font sizes.
 */
@for $i from 1 through 6 {
  .h#{$i} {
    font-size: map-get($headingFontSizes, 'h#{$i}');
    margin-bottom: map-get($headingMarginBottom, 'h#{$i}');
  }
}
