@import '../variables';

%textWhite {
  color: $white;
}

%textBlack {
  color: $black;
}

%textRed {
  color: $red;
}

%textSuccess {
  color: $success;
}

%textDanger {
  color: $danger;
}

%textWarning {
  color: $warning;
}

%textInfo {
  color: $info;
}
