.button {
  cursor: pointer;
  outline: 0;
}

.button:focus {
  border-color: rgb(97, 157, 215);
}

.button.round {
  border-radius: 50%;
  overflow: hidden;
  padding: 1px;
  width: 20px;
  height: 20px;
  outline: 0;
}

.button > * + * {
  margin-left: 0.5em;
  display: inline-block;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
